{% extends "CleDiscountCatalogueBundle:Contact:layoutContact.html.twig" %}

{% block title %}
    {{ parent()}} - Partenaires
{% endblock %}
    
{% block content_contact %}
    <div class="container">
      <div class="sixteen columns">
        <div class="breadcrumbs">
            <p><span class="bread-home"><a href="{{ path('cle_accueil_index') }}">Accueil</a>Partenaires</p>
        </div>
      </div>
    </div>
    
    <div class="container">
        <div class="eight columns">
          <h4 class="headline"> Nos Partenaires </h4>
        </div>
    </div>
    <div class="container">
        <div class="four columns">
            <div class="check_list">
              <ul>
                  <li><a href="http://serrurierlyon.co">Serrurier Lyon</a></li>
                  <li><a href="http://vitrierlyon.co">Vitrier Lyon</a></li>
                  <li><a href="http://www.renovation-peinture-lyon.fr">Rénovation Lyon</a></li>
                  <li><a href="http://http://www.carreleur-lyon.fr">Carreleur Lyon</a></li>
              </ul>
            </div>
        </div>
        <div class="four columns">
          <div class="check_list">
            <ul>
                <li><a href="http://www.plombier-lyon.co">Plombier Lyon</a></li>
                <li><a href="http://http://www.deratisation-lyon.fr">Dératisation Lyon</a></li>
                <li><a href="http://www.electricien-lyon.co">Électricien Lyon</a></li>
            </ul>
          </div>
        </div>
    </div>
    
    <div class="container">
        <div class="columns sixteen">
            <h4 class="headline">Echange de liens</h4>
            <p>
               Vous recherchez un vrai partenariat web? Vous cherchez la qualité des liens et non la quantité? Vous voulez créer un réseau durable et pertinent? Venez voir nos propositions de partenariats. <br/>
               Notre équipe de webmaster saura répondre à toutes vos demandes sérieuses d’échanges de liens afin d'augmenter mutuellement notre positionnement sur une localité ou une commune et ce partout en France et dans plusieurs activités. <br/>
               Ajoutez nos liens en dur sur votre site dans votre page d’accueil, partenaires ou emplacements spécifiques. <br/>
            </p>
        </div>
    </div>
    
    <div class="container">
        <div class="columns eight">
            <p>
                <h4 class="sub-title">Activité Electricien - Dépannage  : </h4>
                &lta href="http://www.electricien-lyon.co" &gt Electricien Lyon &lt/a&gt
            </p>
            <p>
                <h4 class="sub-title">Activité Serrurier - Dépannage  : </h4>
                &lta href="http://www.serrurierlyon.co" &gt Serrurier Lyon &lt/a&gt
            </p>
            <p>
                <h4 class="sub-title">Activité Vitrier-Miroiterie  : </h4>
                &lta href="http://www.vitrierlyon.co" &gt Vitrier Lyon &lt/a&gt
            </p>
            <p>
                <h4 class="sub-title">Activité Rénovation-Peinture : </h4>
                &lta href="http://www.renovation-peinture-lyon.fr" &gt Rénovation Lyon &lt/a&gt
            </p>
            <p>
                <h4 class="sub-title">Activité Hygiène-Dératisation : </h4>
                &lta href="http://www.deratisation-lyon.fr" &gt Dératisation Lyon &lt/a&gt
            </p>
        </div>
        <div class="columns eight">
            <p>
                <h4 class="sub-title">Activité de Menuiserie - Portes blindées : </h4>
                 &lta href="http://www.menuisier-lyon.co" &gt Menuiserie Lyon &lt/a&gt
            </p>
            <p>
                <h4 class="sub-title">Activité de Plomberie-Chauffagiste : </h4>
                &lta href="http://www.plombier-lyon.co" &gt Plombier Lyon &lt/a&gt
            </p>
            <p>
                <h4 class="sub-title">Activité Bricoleur : </h4>
                &lta href="http://www.bricoleur-lyon.fr" &gt Bricoleur Lyon &lt/a&gt
            </p>
            <p>
                <h4 class="sub-title">Activité Carreleur : </h4>
                &lta href="http://www.carreleur-lyon.fr" &gt Carreleur Lyon &lt/a&gt
            </p>
        </div>
    </div>
    
    <div class="container">
        <p>&nbsp;</p>
    </div>
    
    <div class="container">
        <div class="columns sixteen">
            <p>
                Si le lien est présent sur votre site, votre proposition sera étudiée dans un délai de 7 jours ouvrés au maximum. <br/>
                Vous recevrez un courriel vous informant de la validation ou du refus de notre échange .
            </p>
        </div>
    </div>
    
    <div class="container">
        <div class="columns sixteen">
            <h4 class="headline">Annuaires</h4>
            <ul class="list-banners">
              <li><a href="#"><img alt="" src="{{ asset('assets/images/banner/banner-1.png') }}"></a></li>
              <li><a href="#"><img alt="" src="{{ asset('assets/images/banner/banner-2.png') }}"></a></li>
              <li><a href="#"><img alt="" src="{{ asset('assets/images/banner/banner-3.png') }}"></a></li>
              <li><a href="#"><img alt="" src="{{ asset('assets/images/banner/banner-4.png') }}"></a></li>
              <li><a href="#"><img alt="" src="{{ asset('assets/images/banner/banner-5.png') }}"></a></li>
              <li><a href="#"><img alt="" src="{{ asset('assets/images/banner/banner-6.png') }}"></a></li>
            </ul>
        </div>
    </div>

    
{% endblock %}