{% extends "CleDiscountCatalogueBundle:Catalogue:layoutCatalogue.html.twig" %}

{% block title %}
    {{ parent()}} - Hygiène
{% endblock %}
    
{% block content_catalogue %}
  <div class="container">
    <div class="sixteen columns">
      <div class="breadcrumbs">
          <p>
              <span class="bread-home"><a href="{{ path('cle_accueil_index') }}">Accueil</a></span>
              <a href="{{ path('cle_catalogue_catalogue') }}">Catalogue</a>
              <a href="{{ path('cle_catalogue_produitshygiene') }}">Hygiène</a>
              {% if categorie == "rongeurs" %}
                Rongeurs
              {% endif %}
              {% if categorie == "insectes" %}
                Insectes
              {% endif %}
              {% if categorie == "autrehygiene" %}
                Autres
              {% endif %}
          </p>
      </div>
    </div>
  </div>
    
    <div class="container">
        <div class="fleft">
            <div class="four columns">
                <div class="widget">
                    <h5>Marques</h5>
                    <ul>
                        <li><a href="{{ path('cle_catalogue_affichehygiene', {'categorie': categorie}) }}">Toutes les marques</a></li>
                        <li><a href="{{ path('cle_catalogue_affichehygiene', {'categorie': categorie, 'marque': 'Marque1'}) }}">Marque1</a></li>
                        <li><a href="{{ path('cle_catalogue_affichehygiene', {'categorie': categorie, 'marque': 'Marque2'}) }}">Marque2</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% if articles|length > 0 %}
            {% for article in articles %}
                <div class="fright">
                    <div class="four columns">
                        <a href="{{ path('cle_catalogue_produit', {'famille': article.famille, 'categorie': article.categorie, 'id': article.id}) }}"><img class="image-border" src="{{ article.image }}" alt="{{ article.nom }}" /></a>
                    </div>
                    <div class="eight columns">
                        <h4 class="headline">{{ article.nom }}</h4>
                        <p>
                            Marque : {{ article.marque }} <br/>
                            Prix : {{ article.prixParticulier }} €
                        </p>
                    </div>
                    <div class="clear"></div>
                    <div class="twelve columns">
                        <div class="separator"></div>
                    </div>    
                </div>
            {% endfor %}

            <div class="sixteen columns">
                <div class="pagination">
                    <ul>
                        {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
                        {% for p in range(1, nombrePage) %}
                            <li{% if p == page %} class="active"{% endif %}>
                                <a href="{{ path('cle_catalogue_affichequincaillerie', {'categorie': categorie, 'marque': marque, 'page': p}) }}">{{ p }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>  
            </div>
        {% else %}
            <div class="fright">
                <div class="twelve columns">
                    <h4 class="sub-title">Désolé, nous ne disposons d'aucun article dans cette catégorie</h4>
                </div>
            </div>
        {% endif %}
    </div>
    
{% endblock %}