{% extends "::layoutclediscount.html.twig"%}

{% block title %}
    {{parent()}} - Catalogue
{% endblock %}
    
{% block menu %}
<div class="container">
        <div class="sixteen columns">
          <div class="row-3">
<!--             menu -->
            <nav  id = "main-nav-menu">
                <ul class="sf-menu">
                  <li><a href="{{ path('cle_accueil_index') }}">Accueil</a>
                    <ul>
                      <li><a href="{{ path('cle_accueil_societe') }}">Notre société</a></li>
                      <li><a href="{{ path('cle_accueil_concept') }}">Le concept discount</a></li>
                      <li><a href="{{ path('cle_accueil_charte') }}">Notre charte qualité</a></li>
                    </ul>
                  </li>
                  <li class="active"><a href="{{ path('cle_catalogue_catalogue') }}">Catalogue</a>
                    <ul>
                      <li><a href="{{ path('cle_catalogue_quincaillerie') }}">e-quincaillerie</a></li>
                      <li><a href="{{ path('cle_catalogue_porteblindee') }}">e-porte blindée</a></li>
                      <li><a href="{{ path('cle_catalogue_reproduction') }}">e-reproduction de clé</a></li>
                      <li><a href="{{ path('cle_catalogue_produitshygiene') }}">e-produits d'hygiène</a></li>
                    </ul>
                  </li>
                  <li><a href="{{ path('cle_cataloguepro_cataloguepro') }}">Catalogue Pro</a>
                    <ul>
                      <li><a href="{{ path('cle_cataloguepro_presentationpro') }}">Accès pro</a></li>
                      <li><a href="{{ path('cle_cataloguepro_inscriptionprivilege') }}">Listes Privilège</a></li>
                      <li><a href="{{ path('cle_cataloguepro_destockage') }}">Destockage discount</a></li>
                      <li><a href="{{ path('cle_cataloguepro_objetspub') }}">Objets publicitaires</a></li>
                      <li><a href="{{ path('cle_cataloguepro_produitsmoment') }}">Produits du moment</a></li>
                    </ul>
                  </li>
                  <li><a href="{{ path('cle_commande_commande') }}">Commande</a>
                    <ul>
                      <li><a href="{{ path('cle_commande_panier') }}">Panier</a></li>
                      <li><a href="{{ path('cle_commande_faqcommande') }}">FAQ Commande</a></li>
                    </ul>
                  </li>
                  <li><a href="{{ path('cle_contact_contact') }}">Nous contacter</a>
                    <ul>
                      <li><a href="{{ path('cle_contact_serviceclient') }}">Service client</a></li>
                      <li><a href="{{ path('cle_contact_servicecommercial') }}">Service commercial</a></li>
                    </ul>
                  </li>
                </ul>
            </nav>
<!--             end menu -->
            <select id = "responsive-main-nav-menu" onchange = "javascript:window.location.replace(this.value);">
            </select>
<!--             Search form -->
            <form method="post" id="searchForm" action="{{ path('cle_catalogue_recherche') }}">
              <fieldset>
              <div class="input">
                <input type="text" name="recherche" id="s" value="Recherche" />
              </div>
              <input type="submit" id="searchSubmit" value="" />
              </fieldset>
            </form>
          </div>
        </div>
      </div>
      <div class="clear"></div>
{% endblock %}
      
{% block body %}
    {% block content_catalogue %}

    {% endblock %}
{% endblock %}