{% extends "CleDiscountCatalogueBundle:Catalogue:layoutCatalogue.html.twig" %}

{% block title %}
    {{ parent()}} - Produits d'hygiène
{% endblock %}
    
{% block content_catalogue %}
  <div class="container">
    <div class="sixteen columns">
      <div class="breadcrumbs">
          <p><span class="bread-home"><a href="{{ path('cle_accueil_index') }}">Accueil</a></span><a href="{{ path('cle_catalogue_catalogue') }}">Catalogue</a>Produits d'Hygiène</p>
      </div>
    </div>
  </div>
    
    <div class="container">
        <div class="fright">
            <div class="eleven columns">
                <h4 class="headline3">e-Produits d'Hygiène</h4>
                <p>Bienvenue sur le catalogue 2013 e-Produits d'Hygiène de La Clé Discount.</p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc neque mauris, ornare eget convallis eget, molestie sit amet ligula. Praesent libero lorem, tristique quis erat et, auctor sollicitudin dolor. Praesent eget consequat quam. Maecenas tristique, mi et mollis iaculis, ante nisl luctus est, et tempor libero urna sed urna. Mauris euismod id nibh non viverra. Donec semper nisl massa, non malesuada nunc ornare sit amet. Cras porttitor nunc nec venenatis adipiscing. Vestibulum blandit viverra nisl at dignissim. 
                </p>              
            </div>
        </div>
        <div class="fleft">
            <div class="five columns">
                <div class="widget">
                    <h5>Nos produits</h5>
                    <ul>
                        <li><a title="Cylindres - Barillets" href="{{ path('cle_catalogue_affichehygiene', {'categorie': 'rongeurs'}) }}">Rongeurs</a></li>
                        <li><a title="Cylindres - Barillets" href="{{ path('cle_catalogue_affichehygiene', {'categorie': 'insectes'}) }}">Insectes</a></li>
                        <li><a title="Cylindres - Barillets" href="{{ path('cle_catalogue_affichehygiene', {'categorie': 'autrehygiene'}) }}">Autres Produits</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
  <div class="container">
    <h4 class="headline3">Gamme Rongeurs</h4>
    <div class="port-col4">
      <div id="portfolio-wrapper">
        <div class="four columns portfolio-item business">
          <ul class="item-img da-thumbs">
            <li><img class="img_wrap1" src="{{ asset('assets/images/portfolio/port-1.jpg') }}" alt="">
              <article class="da-animate">
                <h3>Project 1</h3>
                <em>project sub title</em> <span class="link_post"><a href="#"></a></span> <span class="zoom"><a class="group1" data-rel='hi' href="../assets/images/portfolio/port-1.jpg" title=""></a></span> </article>
            </li>
          </ul>
          <div class="portfolio-item-meta">
            <h5><a href="#" title="Item 1" rel="bookmark"> Item 1 </a></h5>
            <ul>
                <li>Champ 1</li>
                <li>Champ 2</li>
                <li>Champ 3</li>
            </ul>
          </div>
        </div>
        <!-- Port 2 -->
        <div class="four columns portfolio-item business">
          <ul class="item-img da-thumbs">
            <li><img class="img_wrap1" src="{{ asset('assets/images/portfolio/port-1.jpg') }}" alt="">
              <article class="da-animate">
                <h3>Project 1</h3>
                <em>project sub title</em> <span class="link_post"><a href="portfolio-single.html"></a></span> <span class="zoom"><a class="group1" data-rel='hi' href="../assets/images/portfolio/port-2.jpg" title=""></a></span> </article>
            </li>
          </ul>
          <div class="portfolio-item-meta">
            <h5><a href="#" title="Permalink to Project Title 2" rel="bookmark"> Item 2 </a></h5>
            <p>Nam adipiscing felis ac tellus pellentesque porta. Nullam et augue augue. Vestibulum pharetra purus vel. Ultricies sed leo. Vestibulum ante</p>
          </div>
        </div>
        <!-- Port 3 -->
        <div class="four columns portfolio-item html">
          <ul class="item-img da-thumbs">
            <li><img class="img_wrap1" src="{{ asset('assets/images/portfolio/port-1.jpg') }}" alt="">
              <article class="da-animate">
                <h3>Project 1</h3>
                <em>project sub title</em> <span class="link_post"><a href="#"></a></span> <span class="zoom"><a class="group1" data-rel='hi' href="../assets/images/portfolio/port-3.jpg" title=""></a></span> </article>
            </li>
          </ul>
          <div class="portfolio-item-meta">
            <h5><a href="#" title="Permalink to Project Title 3" rel="bookmark"> Item 3 </a></h5>
            <p>Nam adipiscing felis ac tellus pellentesque porta. Nullam et augue augue. Vestibulum pharetra purus vel. Ultricies sed leo. Vestibulum ante</p>
          </div>
        </div>
        <!-- Port 4 -->
        <div class="four columns portfolio-item html">
          <ul class="item-img da-thumbs">
            <li><img class="img_wrap1" src="{{ asset('assets/images/portfolio/port-1.jpg') }}" alt="">
              <article class="da-animate">
                <h3>Project 1</h3>
                <em>project sub title</em> <span class="link_post"><a href="#"></a></span> <span class="zoom"><a class="group1" data-rel='hi' href="../assets/images/portfolio/port-4.jpg" title=""></a></span> </article>
            </li>
          </ul>
          <div class="portfolio-item-meta">
            <h5><a href="#" title="Permalink to Project Title 4" rel="bookmark"> Item 4 </a></h5>
            <p>Nam adipiscing felis ac tellus pellentesque porta. Nullam et augue augue. Vestibulum pharetra purus vel. Ultricies sed leo. Vestibulum ante</p>
          </div>
        </div>
      </div>
    </div>
    <div class="sixteen columns">
      <div class="fright">
          <a href="#"  class="button button-border medium yellow"> Voir toute notre gamme rongeurs </a>
      </div>
    </div>
  </div>
    
  <div class="container">
    <h4 class="headline3">Gamme Insectes</h4>
    <div class="port-col4">
      <div id="portfolio-wrapper">
        <div class="four columns portfolio-item business">
          <ul class="item-img da-thumbs">
            <li><img class="img_wrap1" src="{{ asset('assets/images/portfolio/port-1.jpg') }}" alt="">
            </li>
          </ul>
          <div class="portfolio-item-meta">
            <h5><a href="#" title="Item 1" rel="bookmark"> Item 1 </a></h5>
            <p>Nam adipiscing felis ac tellus pellentesque porta. Nullam et augue augue. Vestibulum pharetra purus vel. Ultricies sed leo. Vestibulum ante</p>
          </div>
        </div>
        <!-- Port 2 -->
        <div class="four columns portfolio-item business">
          <ul class="item-img da-thumbs">
            <li><img class="img_wrap1" src="{{ asset('assets/images/portfolio/port-1.jpg') }}" alt="">
              <article class="da-animate">
                <h3>Project 1</h3>
                <em>project sub title</em> <span class="link_post"><a href="portfolio-single.html"></a></span> <span class="zoom"><a class="group1" data-rel='hi' href="../assets/images/portfolio/port-2.jpg" title=""></a></span> </article>
            </li>
          </ul>
          <div class="portfolio-item-meta">
            <h5><a href="#" title="Permalink to Project Title 2" rel="bookmark"> Item 2 </a></h5>
            <p>Nam adipiscing felis ac tellus pellentesque porta. Nullam et augue augue. Vestibulum pharetra purus vel. Ultricies sed leo. Vestibulum ante</p>
          </div>
        </div>
        <!-- Port 3 -->
        <div class="four columns portfolio-item html">
          <ul class="item-img da-thumbs">
            <li><img class="img_wrap1" src="{{ asset('assets/images/portfolio/port-1.jpg') }}" alt="">
              <article class="da-animate">
                <h3>Project 1</h3>
                <em>project sub title</em> <span class="link_post"><a href="#"></a></span> <span class="zoom"><a class="group1" data-rel='hi' href="../assets/images/portfolio/port-3.jpg" title=""></a></span> </article>
            </li>
          </ul>
          <div class="portfolio-item-meta">
            <h5><a href="#" title="Permalink to Project Title 3" rel="bookmark"> Item 3 </a></h5>
            <p>Nam adipiscing felis ac tellus pellentesque porta. Nullam et augue augue. Vestibulum pharetra purus vel. Ultricies sed leo. Vestibulum ante</p>
          </div>
        </div>
        <!-- Port 4 -->
        <div class="four columns portfolio-item html">
          <ul class="item-img da-thumbs">
            <li><img class="img_wrap1" src="{{ asset('assets/images/portfolio/port-1.jpg') }}" alt="">
              <article class="da-animate">
                <h3>Project 1</h3>
                <em>project sub title</em> <span class="link_post"><a href="#"></a></span> <span class="zoom"><a class="group1" data-rel='hi' href="../assets/images/portfolio/port-4.jpg" title=""></a></span> </article>
            </li>
          </ul>
          <div class="portfolio-item-meta">
            <h5><a href="#" title="Permalink to Project Title 4" rel="bookmark"> Item 4 </a></h5>
            <p>Nam adipiscing felis ac tellus pellentesque porta. Nullam et augue augue. Vestibulum pharetra purus vel. Ultricies sed leo. Vestibulum ante</p>
          </div>
        </div>
      </div>
    </div>
    <div class="sixteen columns">
      <div class="fright">
          <a href="#"  class="button button-border medium yellow"> Voir toute notre gamme insectes</a>
      </div>
    </div>
  </div>
    
  <div class="container">
    <h4 class="headline3">Autres Produits</h4>
    <div class="port-col4">
      <div id="portfolio-wrapper">
        <div class="four columns portfolio-item business">
          <ul class="item-img da-thumbs">
            <li><img class="img_wrap1" src="{{ asset('assets/images/portfolio/port-1.jpg') }}" alt="">
            </li>
          </ul>
          <div class="portfolio-item-meta">
            <h5><a href="#" title="Item 1" rel="bookmark"> Item 1 </a></h5>
            <p>Nam adipiscing felis ac tellus pellentesque porta. Nullam et augue augue. Vestibulum pharetra purus vel. Ultricies sed leo. Vestibulum ante</p>
          </div>
        </div>
        <!-- Port 2 -->
        <div class="four columns portfolio-item business">
          <ul class="item-img da-thumbs">
            <li><img class="img_wrap1" src="{{ asset('assets/images/portfolio/port-1.jpg') }}" alt="">
              <article class="da-animate">
                <h3>Project 1</h3>
                <em>project sub title</em> <span class="link_post"><a href="portfolio-single.html"></a></span> <span class="zoom"><a class="group1" data-rel='hi' href="../assets/images/portfolio/port-2.jpg" title=""></a></span> </article>
            </li>
          </ul>
          <div class="portfolio-item-meta">
            <h5><a href="#" title="Permalink to Project Title 2" rel="bookmark"> Item 2 </a></h5>
            <p>Nam adipiscing felis ac tellus pellentesque porta. Nullam et augue augue. Vestibulum pharetra purus vel. Ultricies sed leo. Vestibulum ante</p>
          </div>
        </div>
        <!-- Port 3 -->
        <div class="four columns portfolio-item html">
          <ul class="item-img da-thumbs">
            <li><img class="img_wrap1" src="{{ asset('assets/images/portfolio/port-1.jpg') }}" alt="">
              <article class="da-animate">
                <h3>Project 1</h3>
                <em>project sub title</em> <span class="link_post"><a href="#"></a></span> <span class="zoom"><a class="group1" data-rel='hi' href="../assets/images/portfolio/port-3.jpg" title=""></a></span> </article>
            </li>
          </ul>
          <div class="portfolio-item-meta">
            <h5><a href="#" title="Permalink to Project Title 3" rel="bookmark"> Item 3 </a></h5>
            <p>Nam adipiscing felis ac tellus pellentesque porta. Nullam et augue augue. Vestibulum pharetra purus vel. Ultricies sed leo. Vestibulum ante</p>
          </div>
        </div>
        <!-- Port 4 -->
        <div class="four columns portfolio-item html">
          <ul class="item-img da-thumbs">
            <li><img class="img_wrap1" src="{{ asset('assets/images/portfolio/port-1.jpg') }}" alt="">
              <article class="da-animate">
                <h3>Project 1</h3>
                <em>project sub title</em> <span class="link_post"><a href="#"></a></span> <span class="zoom"><a class="group1" data-rel='hi' href="../assets/images/portfolio/port-4.jpg" title=""></a></span> </article>
            </li>
          </ul>
          <div class="portfolio-item-meta">
            <h5><a href="#" title="Permalink to Project Title 4" rel="bookmark"> Item 4 </a></h5>
            <p>Nam adipiscing felis ac tellus pellentesque porta. Nullam et augue augue. Vestibulum pharetra purus vel. Ultricies sed leo. Vestibulum ante</p>
          </div>
        </div>
      </div>
    </div>
    <div class="sixteen columns">
      <div class="fright">
          <a href="#"  class="button button-border medium yellow"> Voir tous nos autres produits</a>
      </div>
    </div>
  </div>
    
{% endblock %}
