{% extends "CleDiscountCatalogueBundle:Catalogue:layoutCatalogue.html.twig" %}

{% block title %}
    {{ parent()}} - Quincaillerie
{% endblock %}
    
{% block content_catalogue %}
  <div class="container">
    <div class="sixteen columns">
      <div class="breadcrumbs">
          <p><span class="bread-home"><a href="{{ path('cle_accueil_index') }}">Accueil</a></span><a href="{{ path('cle_catalogue_catalogue') }}">Catalogue</a>Quincaillerie</p>
      </div>
    </div>
  </div>
    
    <div class="container">
        <div class="fright">
            <div class="eleven columns">
                <h4 class="headline3">e-Quincaillerie</h4>
                <p>Bienvenue sur le catalogue 2013 e-Quincaillerie de La Clé Discount.</p>
                <p>Vous y trouverez des produits de toutes les marques de fabricants à prix discount, livrables sur toute la France. Pour mieux comprendre nos prix bas, reportez-vous à notre rubrique sur le <a href="{{ path('cle_accueil_concept') }}">concept discount.</a> <br/>
                Une fois votre article choisi, notre service client vous confirmera votre commande. En cas de doute sur un modèle, ou pour toute autre question, n'hésitez pas à <a href="{{ path('cle_contact_contact') }}">nous contacter</a> par mail ou par téléphone. </p>
                <h4 class="sub-title">Toute demande de devis est gratuite.</h4>
                <h4 class="headline2">Vous n'arrivez pas à identifier votre serrure ?</h4>
                <p>La Clé Discount le fait pour vous ! Pour cela, rien de plus simple : <a href="mailto:someone@example.com?Subject=Identification%20de%20serrure">envoyez-nous</a> des photos de votre serrure, nous vous communiquerons dans les plus brefs délais ses références exactes ainsi que son prix et notre délai de livraison.</p>                
            </div>
        </div>
        <div class="fleft">
            <div class="five columns">
                <div class="widget">
                    <h5>Nos produits</h5>
                    <ul>
                        <li><a title="Cylindres - Barillets" href="{{ path('cle_catalogue_cylindres') }}">Cylindres - Barillets</a></li>
                        <li><a title="Serrures monopoint" href="{{ path('cle_catalogue_monopoint') }}">Serrures monopoint</a></li>
                        <li><a title="Serrures multipoints" href="{{ path('cle_catalogue_multipoints') }}">Serrures multipoints</a></li>
                        <li><a title="Verrous et poignées" href="{{ path('cle_catalogue_verrous') }}">Verrous et poignées</a></li>
                        <li><a title="Systèmes anti-effraction" href="{{ path('cle_catalogue_antieffraction') }}">Systèmes anti-effraction</a></li>
                        <li><a title="Accessoires" href="{{ path('cle_catalogue_coffres') }}">Coffres-forts</a></li>
                    </ul>
                    <h5>Aide</h5>
                    <ul>
                        <li><a title="Cylindres - Barillets" href="{{ path('cle_catalogue_lexique') }}">Lexique</a></li>
                        <li><a title="Serrures monopoint" href="{{ path('cle_catalogue_fiches') }}">Fiches techniques</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
  <div class="container">
    <h4 class="headline3">Cylindres - Barillets</h4>
    <div class="port-col4">
      <div id="portfolio-wrapper">
        <div class="four columns portfolio-item business">
          <ul class="item-img da-thumbs">
            <li><img class="img_wrap1" src="{{ asset('bundles/clediscountcatalogue/images/barillet-test.jpg') }}" alt="">
                {#
              <article class="da-animate">
                <h3>Project 1</h3>
                <em>project sub title</em> <span class="link_post"><a href="#"></a></span> <span class="zoom"><a class="group1" data-rel='hi' href="../assets/images/portfolio/port-1.jpg" title=""></a></span> </article>
                #}
            </li>
          </ul>
          <div class="portfolio-item-meta">
            <h5><a href="#" title="Item 1" rel="bookmark"> Item 1 </a></h5>
            <ul>
                <li>Champ 1</li>
                <li>Champ 2</li>
                <li>Champ 3</li>
            </ul>
          </div>
        </div>
        <!-- Port 2 -->
        <div class="four columns portfolio-item business">
          <ul class="item-img da-thumbs">
            <li><img class="img_wrap1" src="{{ asset('bundles/clediscountcatalogue/images/barillet-test.jpg') }}" alt="">
              <article class="da-animate">
                <h3>Project 1</h3>
                <em>project sub title</em> <span class="link_post"><a href="portfolio-single.html"></a></span> <span class="zoom"><a class="group1" data-rel='hi' href="../assets/images/portfolio/port-2.jpg" title=""></a></span> </article>
            </li>
          </ul>
          <div class="portfolio-item-meta">
            <h5><a href="#" title="Permalink to Project Title 2" rel="bookmark"> Item 2 </a></h5>
            <p>Nam adipiscing felis ac tellus pellentesque porta. Nullam et augue augue. Vestibulum pharetra purus vel. Ultricies sed leo. Vestibulum ante</p>
          </div>
        </div>
        <!-- Port 3 -->
        <div class="four columns portfolio-item html">
          <ul class="item-img da-thumbs">
            <li><img class="img_wrap1" src="{{ asset('bundles/clediscountcatalogue/images/barillet-test.jpg') }}" alt="">
              <article class="da-animate">
                <h3>Project 1</h3>
                <em>project sub title</em> <span class="link_post"><a href="#"></a></span> <span class="zoom"><a class="group1" data-rel='hi' href="../assets/images/portfolio/port-3.jpg" title=""></a></span> </article>
            </li>
          </ul>
          <div class="portfolio-item-meta">
            <h5><a href="#" title="Permalink to Project Title 3" rel="bookmark"> Item 3 </a></h5>
            <p>Nam adipiscing felis ac tellus pellentesque porta. Nullam et augue augue. Vestibulum pharetra purus vel. Ultricies sed leo. Vestibulum ante</p>
          </div>
        </div>
        <!-- Port 4 -->
        <div class="four columns portfolio-item html">
          <ul class="item-img da-thumbs">
            <li><img class="img_wrap1" src="{{ asset('bundles/clediscountcatalogue/images/barillet-test.jpg') }}" alt="">
              <article class="da-animate">
                <h3>Project 1</h3>
                <em>project sub title</em> <span class="link_post"><a href="#"></a></span> <span class="zoom"><a class="group1" data-rel='hi' href="../assets/images/portfolio/port-4.jpg" title=""></a></span> </article>
            </li>
          </ul>
          <div class="portfolio-item-meta">
            <h5><a href="#" title="Permalink to Project Title 4" rel="bookmark"> Item 4 </a></h5>
            <p>Nam adipiscing felis ac tellus pellentesque porta. Nullam et augue augue. Vestibulum pharetra purus vel. Ultricies sed leo. Vestibulum ante</p>
          </div>
        </div>
      </div>
    </div>
    <div class="sixteen columns">
      <div class="fright">
          <a href="{{ path('cle_catalogue_cylindres') }}"  class="button button-border medium yellow"> Voir tous nos cylindres et barillets </a>
      </div>
    </div>
  </div>
    
  <div class="container">
    <h4 class="headline3">Serrures monopoint</h4>
    <div class="port-col4">
      <div id="portfolio-wrapper">
        <div class="four columns portfolio-item business">
          <ul class="item-img da-thumbs">
            <li><img class="img_wrap1" src="{{ asset('assets/images/portfolio/port-1.jpg') }}" alt="">
                {#
              <article class="da-animate">
                <h3>Project 1</h3>
                <em>project sub title</em> <span class="link_post"><a href="#"></a></span> <span class="zoom"><a class="group1" data-rel='hi' href="../assets/images/portfolio/port-1.jpg" title=""></a></span> </article>
                #}
            </li>
          </ul>
          <div class="portfolio-item-meta">
            <h5><a href="#" title="Item 1" rel="bookmark"> Item 1 </a></h5>
            <p>Nam adipiscing felis ac tellus pellentesque porta. Nullam et augue augue. Vestibulum pharetra purus vel. Ultricies sed leo. Vestibulum ante</p>
          </div>
        </div>
        <!-- Port 2 -->
        <div class="four columns portfolio-item business">
          <ul class="item-img da-thumbs">
            <li><img class="img_wrap1" src="{{ asset('assets/images/portfolio/port-1.jpg') }}" alt="">
              <article class="da-animate">
                <h3>Project 1</h3>
                <em>project sub title</em> <span class="link_post"><a href="portfolio-single.html"></a></span> <span class="zoom"><a class="group1" data-rel='hi' href="../assets/images/portfolio/port-2.jpg" title=""></a></span> </article>
            </li>
          </ul>
          <div class="portfolio-item-meta">
            <h5><a href="#" title="Permalink to Project Title 2" rel="bookmark"> Item 2 </a></h5>
            <p>Nam adipiscing felis ac tellus pellentesque porta. Nullam et augue augue. Vestibulum pharetra purus vel. Ultricies sed leo. Vestibulum ante</p>
          </div>
        </div>
        <!-- Port 3 -->
        <div class="four columns portfolio-item html">
          <ul class="item-img da-thumbs">
            <li><img class="img_wrap1" src="{{ asset('assets/images/portfolio/port-1.jpg') }}" alt="">
              <article class="da-animate">
                <h3>Project 1</h3>
                <em>project sub title</em> <span class="link_post"><a href="#"></a></span> <span class="zoom"><a class="group1" data-rel='hi' href="../assets/images/portfolio/port-3.jpg" title=""></a></span> </article>
            </li>
          </ul>
          <div class="portfolio-item-meta">
            <h5><a href="#" title="Permalink to Project Title 3" rel="bookmark"> Item 3 </a></h5>
            <p>Nam adipiscing felis ac tellus pellentesque porta. Nullam et augue augue. Vestibulum pharetra purus vel. Ultricies sed leo. Vestibulum ante</p>
          </div>
        </div>
        <!-- Port 4 -->
        <div class="four columns portfolio-item html">
          <ul class="item-img da-thumbs">
            <li><img class="img_wrap1" src="{{ asset('assets/images/portfolio/port-1.jpg') }}" alt="">
              <article class="da-animate">
                <h3>Project 1</h3>
                <em>project sub title</em> <span class="link_post"><a href="#"></a></span> <span class="zoom"><a class="group1" data-rel='hi' href="../assets/images/portfolio/port-4.jpg" title=""></a></span> </article>
            </li>
          </ul>
          <div class="portfolio-item-meta">
            <h5><a href="#" title="Permalink to Project Title 4" rel="bookmark"> Item 4 </a></h5>
            <p>Nam adipiscing felis ac tellus pellentesque porta. Nullam et augue augue. Vestibulum pharetra purus vel. Ultricies sed leo. Vestibulum ante</p>
          </div>
        </div>
      </div>
    </div>
    <div class="sixteen columns">
      <div class="fright">
          <a href="{{ path('cle_catalogue_monopoint') }}"  class="button button-border medium yellow"> Voir toutes nos serrures monopoint</a>
      </div>
    </div>
  </div>
    
  <div class="container">
    <h4 class="headline3">Serrures multipoints</h4>
    <div class="port-col4">
      <div id="portfolio-wrapper">
        <div class="four columns portfolio-item business">
          <ul class="item-img da-thumbs">
            <li><img class="img_wrap1" src="{{ asset('assets/images/portfolio/port-1.jpg') }}" alt="">
                {#
              <article class="da-animate">
                <h3>Project 1</h3>
                <em>project sub title</em> <span class="link_post"><a href="#"></a></span> <span class="zoom"><a class="group1" data-rel='hi' href="../assets/images/portfolio/port-1.jpg" title=""></a></span> </article>
                #}
            </li>
          </ul>
          <div class="portfolio-item-meta">
            <h5><a href="#" title="Item 1" rel="bookmark"> Item 1 </a></h5>
            <p>Nam adipiscing felis ac tellus pellentesque porta. Nullam et augue augue. Vestibulum pharetra purus vel. Ultricies sed leo. Vestibulum ante</p>
          </div>
        </div>
        <!-- Port 2 -->
        <div class="four columns portfolio-item business">
          <ul class="item-img da-thumbs">
            <li><img class="img_wrap1" src="{{ asset('assets/images/portfolio/port-1.jpg') }}" alt="">
              <article class="da-animate">
                <h3>Project 1</h3>
                <em>project sub title</em> <span class="link_post"><a href="portfolio-single.html"></a></span> <span class="zoom"><a class="group1" data-rel='hi' href="../assets/images/portfolio/port-2.jpg" title=""></a></span> </article>
            </li>
          </ul>
          <div class="portfolio-item-meta">
            <h5><a href="#" title="Permalink to Project Title 2" rel="bookmark"> Item 2 </a></h5>
            <p>Nam adipiscing felis ac tellus pellentesque porta. Nullam et augue augue. Vestibulum pharetra purus vel. Ultricies sed leo. Vestibulum ante</p>
          </div>
        </div>
        <!-- Port 3 -->
        <div class="four columns portfolio-item html">
          <ul class="item-img da-thumbs">
            <li><img class="img_wrap1" src="{{ asset('assets/images/portfolio/port-1.jpg') }}" alt="">
              <article class="da-animate">
                <h3>Project 1</h3>
                <em>project sub title</em> <span class="link_post"><a href="#"></a></span> <span class="zoom"><a class="group1" data-rel='hi' href="../assets/images/portfolio/port-3.jpg" title=""></a></span> </article>
            </li>
          </ul>
          <div class="portfolio-item-meta">
            <h5><a href="#" title="Permalink to Project Title 3" rel="bookmark"> Item 3 </a></h5>
            <p>Nam adipiscing felis ac tellus pellentesque porta. Nullam et augue augue. Vestibulum pharetra purus vel. Ultricies sed leo. Vestibulum ante</p>
          </div>
        </div>
        <!-- Port 4 -->
        <div class="four columns portfolio-item html">
          <ul class="item-img da-thumbs">
            <li><img class="img_wrap1" src="{{ asset('assets/images/portfolio/port-1.jpg') }}" alt="">
              <article class="da-animate">
                <h3>Project 1</h3>
                <em>project sub title</em> <span class="link_post"><a href="#"></a></span> <span class="zoom"><a class="group1" data-rel='hi' href="../assets/images/portfolio/port-4.jpg" title=""></a></span> </article>
            </li>
          </ul>
          <div class="portfolio-item-meta">
            <h5><a href="#" title="Permalink to Project Title 4" rel="bookmark"> Item 4 </a></h5>
            <p>Nam adipiscing felis ac tellus pellentesque porta. Nullam et augue augue. Vestibulum pharetra purus vel. Ultricies sed leo. Vestibulum ante</p>
          </div>
        </div>
      </div>
    </div>
    <div class="sixteen columns">
      <div class="fright">
          <a href="{{ path('cle_catalogue_multipoints') }}"  class="button button-border medium yellow"> Voir toutes nos serrures multipoints</a>
      </div>
    </div>
  </div>
    
  <div class="container">
    <h4 class="headline3">Verrous et poignées</h4>
    <div class="port-col4">
      <div id="portfolio-wrapper">
        <div class="four columns portfolio-item business">
          <ul class="item-img da-thumbs">
            <li><img class="img_wrap1" src="{{ asset('assets/images/portfolio/port-1.jpg') }}" alt="">
                {#
              <article class="da-animate">
                <h3>Project 1</h3>
                <em>project sub title</em> <span class="link_post"><a href="#"></a></span> <span class="zoom"><a class="group1" data-rel='hi' href="../assets/images/portfolio/port-1.jpg" title=""></a></span> </article>
                #}
            </li>
          </ul>
          <div class="portfolio-item-meta">
            <h5><a href="#" title="Item 1" rel="bookmark"> Item 1 </a></h5>
            <p>Nam adipiscing felis ac tellus pellentesque porta. Nullam et augue augue. Vestibulum pharetra purus vel. Ultricies sed leo. Vestibulum ante</p>
          </div>
        </div>
        <!-- Port 2 -->
        <div class="four columns portfolio-item business">
          <ul class="item-img da-thumbs">
            <li><img class="img_wrap1" src="{{ asset('assets/images/portfolio/port-1.jpg') }}" alt="">
              <article class="da-animate">
                <h3>Project 1</h3>
                <em>project sub title</em> <span class="link_post"><a href="portfolio-single.html"></a></span> <span class="zoom"><a class="group1" data-rel='hi' href="../assets/images/portfolio/port-2.jpg" title=""></a></span> </article>
            </li>
          </ul>
          <div class="portfolio-item-meta">
            <h5><a href="#" title="Permalink to Project Title 2" rel="bookmark"> Item 2 </a></h5>
            <p>Nam adipiscing felis ac tellus pellentesque porta. Nullam et augue augue. Vestibulum pharetra purus vel. Ultricies sed leo. Vestibulum ante</p>
          </div>
        </div>
        <!-- Port 3 -->
        <div class="four columns portfolio-item html">
          <ul class="item-img da-thumbs">
            <li><img class="img_wrap1" src="{{ asset('assets/images/portfolio/port-1.jpg') }}" alt="">
              <article class="da-animate">
                <h3>Project 1</h3>
                <em>project sub title</em> <span class="link_post"><a href="#"></a></span> <span class="zoom"><a class="group1" data-rel='hi' href="../assets/images/portfolio/port-3.jpg" title=""></a></span> </article>
            </li>
          </ul>
          <div class="portfolio-item-meta">
            <h5><a href="#" title="Permalink to Project Title 3" rel="bookmark"> Item 3 </a></h5>
            <p>Nam adipiscing felis ac tellus pellentesque porta. Nullam et augue augue. Vestibulum pharetra purus vel. Ultricies sed leo. Vestibulum ante</p>
          </div>
        </div>
        <!-- Port 4 -->
        <div class="four columns portfolio-item html">
          <ul class="item-img da-thumbs">
            <li><img class="img_wrap1" src="{{ asset('assets/images/portfolio/port-1.jpg') }}" alt="">
              <article class="da-animate">
                <h3>Project 1</h3>
                <em>project sub title</em> <span class="link_post"><a href="#"></a></span> <span class="zoom"><a class="group1" data-rel='hi' href="../assets/images/portfolio/port-4.jpg" title=""></a></span> </article>
            </li>
          </ul>
          <div class="portfolio-item-meta">
            <h5><a href="#" title="Permalink to Project Title 4" rel="bookmark"> Item 4 </a></h5>
            <p>Nam adipiscing felis ac tellus pellentesque porta. Nullam et augue augue. Vestibulum pharetra purus vel. Ultricies sed leo. Vestibulum ante</p>
          </div>
        </div>
      </div>
    </div>
    <div class="sixteen columns">
      <div class="fright">
          <a href="{{ path('cle_catalogue_verrous') }}"  class="button button-border medium yellow"> Voir tous nos verrous et poignées</a>
      </div>
    </div>
  </div>
    
  <div class="container">
    <h4 class="headline3">Systèmes anti-effraction</h4>
    <div class="port-col4">
      <div id="portfolio-wrapper">
        <div class="four columns portfolio-item business">
          <ul class="item-img da-thumbs">
            <li><img class="img_wrap1" src="{{ asset('assets/images/portfolio/port-1.jpg') }}" alt="">
                {#
              <article class="da-animate">
                <h3>Project 1</h3>
                <em>project sub title</em> <span class="link_post"><a href="#"></a></span> <span class="zoom"><a class="group1" data-rel='hi' href="../assets/images/portfolio/port-1.jpg" title=""></a></span> </article>
                #}
            </li>
          </ul>
          <div class="portfolio-item-meta">
            <h5><a href="#" title="Item 1" rel="bookmark"> Item 1 </a></h5>
            <p>Nam adipiscing felis ac tellus pellentesque porta. Nullam et augue augue. Vestibulum pharetra purus vel. Ultricies sed leo. Vestibulum ante</p>
          </div>
        </div>
        <!-- Port 2 -->
        <div class="four columns portfolio-item business">
          <ul class="item-img da-thumbs">
            <li><img class="img_wrap1" src="{{ asset('assets/images/portfolio/port-1.jpg') }}" alt="">
              <article class="da-animate">
                <h3>Project 1</h3>
                <em>project sub title</em> <span class="link_post"><a href="portfolio-single.html"></a></span> <span class="zoom"><a class="group1" data-rel='hi' href="../assets/images/portfolio/port-2.jpg" title=""></a></span> </article>
            </li>
          </ul>
          <div class="portfolio-item-meta">
            <h5><a href="#" title="Permalink to Project Title 2" rel="bookmark"> Item 2 </a></h5>
            <p>Nam adipiscing felis ac tellus pellentesque porta. Nullam et augue augue. Vestibulum pharetra purus vel. Ultricies sed leo. Vestibulum ante</p>
          </div>
        </div>
        <!-- Port 3 -->
        <div class="four columns portfolio-item html">
          <ul class="item-img da-thumbs">
            <li><img class="img_wrap1" src="{{ asset('assets/images/portfolio/port-1.jpg') }}" alt="">
              <article class="da-animate">
                <h3>Project 1</h3>
                <em>project sub title</em> <span class="link_post"><a href="#"></a></span> <span class="zoom"><a class="group1" data-rel='hi' href="../assets/images/portfolio/port-3.jpg" title=""></a></span> </article>
            </li>
          </ul>
          <div class="portfolio-item-meta">
            <h5><a href="#" title="Permalink to Project Title 3" rel="bookmark"> Item 3 </a></h5>
            <p>Nam adipiscing felis ac tellus pellentesque porta. Nullam et augue augue. Vestibulum pharetra purus vel. Ultricies sed leo. Vestibulum ante</p>
          </div>
        </div>
        <!-- Port 4 -->
        <div class="four columns portfolio-item html">
          <ul class="item-img da-thumbs">
            <li><img class="img_wrap1" src="{{ asset('assets/images/portfolio/port-1.jpg') }}" alt="">
              <article class="da-animate">
                <h3>Project 1</h3>
                <em>project sub title</em> <span class="link_post"><a href="#"></a></span> <span class="zoom"><a class="group1" data-rel='hi' href="../assets/images/portfolio/port-4.jpg" title=""></a></span> </article>
            </li>
          </ul>
          <div class="portfolio-item-meta">
            <h5><a href="#" title="Permalink to Project Title 4" rel="bookmark"> Item 4 </a></h5>
            <p>Nam adipiscing felis ac tellus pellentesque porta. Nullam et augue augue. Vestibulum pharetra purus vel. Ultricies sed leo. Vestibulum ante</p>
          </div>
        </div>
      </div>
    </div>
    <div class="sixteen columns">
      <div class="fright">
          <a href="{{ path('cle_catalogue_antieffraction') }}"  class="button button-border medium yellow"> Voir tous nos systèmes anti-effraction</a>
      </div>
    </div>
  </div>
    
  <div class="container">
    <h4 class="headline3">Coffres forts</h4>
    <div class="port-col4">
      <div id="portfolio-wrapper">
        <div class="four columns portfolio-item business">
          <ul class="item-img da-thumbs">
            <li><img class="img_wrap1" src="{{ asset('assets/images/portfolio/port-1.jpg') }}" alt="">
                {#
              <article class="da-animate">
                <h3>Project 1</h3>
                <em>project sub title</em> <span class="link_post"><a href="#"></a></span> <span class="zoom"><a class="group1" data-rel='hi' href="../assets/images/portfolio/port-1.jpg" title=""></a></span> </article>
                #}
            </li>
          </ul>
          <div class="portfolio-item-meta">
            <h5><a href="#" title="Item 1" rel="bookmark"> Item 1 </a></h5>
            <p>Nam adipiscing felis ac tellus pellentesque porta. Nullam et augue augue. Vestibulum pharetra purus vel. Ultricies sed leo. Vestibulum ante</p>
          </div>
        </div>
        <!-- Port 2 -->
        <div class="four columns portfolio-item business">
          <ul class="item-img da-thumbs">
            <li><img class="img_wrap1" src="{{ asset('assets/images/portfolio/port-1.jpg') }}" alt="">
              <article class="da-animate">
                <h3>Project 1</h3>
                <em>project sub title</em> <span class="link_post"><a href="portfolio-single.html"></a></span> <span class="zoom"><a class="group1" data-rel='hi' href="../assets/images/portfolio/port-2.jpg" title=""></a></span> </article>
            </li>
          </ul>
          <div class="portfolio-item-meta">
            <h5><a href="#" title="Permalink to Project Title 2" rel="bookmark"> Item 2 </a></h5>
            <p>Nam adipiscing felis ac tellus pellentesque porta. Nullam et augue augue. Vestibulum pharetra purus vel. Ultricies sed leo. Vestibulum ante</p>
          </div>
        </div>
        <!-- Port 3 -->
        <div class="four columns portfolio-item html">
          <ul class="item-img da-thumbs">
            <li><img class="img_wrap1" src="{{ asset('assets/images/portfolio/port-1.jpg') }}" alt="">
              <article class="da-animate">
                <h3>Project 1</h3>
                <em>project sub title</em> <span class="link_post"><a href="#"></a></span> <span class="zoom"><a class="group1" data-rel='hi' href="../assets/images/portfolio/port-3.jpg" title=""></a></span> </article>
            </li>
          </ul>
          <div class="portfolio-item-meta">
            <h5><a href="#" title="Permalink to Project Title 3" rel="bookmark"> Item 3 </a></h5>
            <p>Nam adipiscing felis ac tellus pellentesque porta. Nullam et augue augue. Vestibulum pharetra purus vel. Ultricies sed leo. Vestibulum ante</p>
          </div>
        </div>
        <!-- Port 4 -->
        <div class="four columns portfolio-item html">
          <ul class="item-img da-thumbs">
            <li><img class="img_wrap1" src="{{ asset('assets/images/portfolio/port-1.jpg') }}" alt="">
              <article class="da-animate">
                <h3>Project 1</h3>
                <em>project sub title</em> <span class="link_post"><a href="#"></a></span> <span class="zoom"><a class="group1" data-rel='hi' href="../assets/images/portfolio/port-4.jpg" title=""></a></span> </article>
            </li>
          </ul>
          <div class="portfolio-item-meta">
            <h5><a href="#" title="Permalink to Project Title 4" rel="bookmark"> Item 4 </a></h5>
            <p>Nam adipiscing felis ac tellus pellentesque porta. Nullam et augue augue. Vestibulum pharetra purus vel. Ultricies sed leo. Vestibulum ante</p>
          </div>
        </div>
      </div>
    </div>
    <div class="sixteen columns">
      <div class="fright">
          <a href="{{ path('cle_catalogue_accessoires') }}"  class="button button-border medium yellow"> Voir tous nos coffres-forts</a>
      </div>
    </div>
  </div>
    

    
{% endblock %}
