{% extends "CleDiscountCatalogueBundle:Catalogue:layoutCatalogue.html.twig" %}

{% block title %}
    {{ parent()}} - Reproduction de clés
{% endblock %}
    
{% block content_catalogue %}
  <div class="container">
    <div class="sixteen columns">
      <div class="breadcrumbs">
          <p><span class="bread-home"><a href="{{ path('cle_accueil_index') }}">Accueil</a></span><a href="{{ path('cle_catalogue_catalogue') }}">Catalogue</a>Reproduction de clés</p>
      </div>
    </div>
  </div>
    
    <div class="container">
        <div class="fright">
            <div class="eleven columns">
                <h4 class="headline3">e-Reproduction de Clés</h4>
                <p>Bienvenue sur le catalogue 2013 e-Reproduction de clés de La Clé Discount.</p>
                <p>Vous y trouverez des produits de toutes les marques de fabricants à prix discount, livrables sur toute la France. Pour mieux comprendre nos prix bas, reportez-vous à notre rubrique sur le <a href="{{ path('cle_accueil_concept') }}">concept discount.</a> <br/>
                Une fois votre article choisi, notre service client vous confirmera votre commande. En cas de doute sur un modèle, ou pour toute autre question, n'hésitez pas à <a href="{{ path('cle_contact_contact') }}">nous contacter</a> par mail ou par téléphone. </p>
                <h4 class="headline2">Vous n'arrivez pas à identifier votre clé  ?</h4>
                <p>La Clé Discount le fait pour vous ! Pour cela, rien de plus simple : <a href="mailto:someone@example.com?Subject=Identification%20de%20serrure">envoyez-nous</a> des photos de votre clé, nous vous communiquerons dans les plus brefs délais ses références exactes ainsi que son prix et notre délai de livraison.</p>                
                <p>Attention : certaines clés sont dites protégées ou brevetées par les fabricants. Si votre clé est dans cette situation, veuillez vous rendre à la rubrique Commande de clés protégées ou brevetées afin de connaitre les formalités obligatoires et légales à la reproduction de votre clé. </p>
                <h4 class="sub-title">Toute demande de devis est gratuite, sur simple appel ou par mail.</h4>
            </div>
        </div>
        <div class="fleft">
            <div class="five columns">
                <div class="widget">
                    <h5>Nos produits</h5>
                    <ul>
                        <li><a title="Double de clés" href="{{ path('cle_catalogue_doubles') }}">Doubles de clés</a></li>
                        <li><a title="Clés techniques" href="{{ path('cle_catalogue_clestechniques') }}">Clés techniques</a></li>
                    </ul>
                    <h5>Infos clés brevetées</h5>
                    <ul>
                        <li><a title="Commande d'une clé brevetée ou protégée" href="{{ path('cle_catalogue_commandecle') }}">Commande d'une clé brevetée ou protégée</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
